<div class="carousel-wrapper">
  <div
    id="carouselExampleFade"
    class="carousel slide carousel-fade"
    data-bs-ride="carousel"
    data-bs-interval="4000"
  >
    <div class="carousel-inner">
      <div
        *ngFor="let slide of slides; let i = index"
        [class.active]="i === 0"
        class="carousel-item"
      >
        <div class="carousel-overlay"></div>
        <img
          [src]="slide.src"
          class="d-block w-100 carousel-img"
          [alt]="slide.highlight"
        />

        <div
          class="carousel-caption d-flex flex-column justify-content-center align-items-center"
        >
          <h2 class="fw-bold text-white text-center carousel-title">
            {{ slide.part1 }}
            <span class="highlight">{{ slide.highlight }}</span><br />
            {{ slide.part2 }}
          </h2>

          <app-button
            [text]="'Explorar Productos'"
            [type]="'button'"
            [redirectTo]="'/home/product'"
            class="mt-3 explore-btn"
          ></app-button>
        </div>
      </div>
    </div>

    <!-- Controles -->
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleFade"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleFade"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
  </div>
</div>
