<div class="top">
  <app-button
    text="Crear Producto"
    color="primary"
    icon="add"
    redirectTo="/account/producer/management/product/create"
  >
  </app-button>

  <!-- <div class="container-xxl px-3 top">
    <div class="row g-4">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let product of products; trackBy: trackById">
        <app-card [product]="product" [showActions]="true" (edit)="onEdit($event)"
          (delete)="onDelete($event)">></app-card>
      </div>
    </div>
  </div> -->
  <div class="top">
    <app-container-card-flex
      [type]="'product'"
      [items]="products"
      [showActions]="true"
      (editProduct)="onEdit($event)"
      (deleteProduct)="onDelete($event)"
      (editStock)="onEditStock($event)"
    >
    </app-container-card-flex>
  </div>
  <div *ngIf="products.length === 0" class="empty">
    No tienes productos todavía.
  </div>
</div>
