<div class="dashboard-container">
  <h1 class="title"> Panel del Productor</h1>

  <!-- KPIs -->
  <div class="kpi-grid">
    <mat-card class="kpi-card" *ngFor="let card of [
      { title: 'Total Productores', value: summary.totalProducers, icon: 'groups' },
      { title: 'Productores Activos', value: summary.activeProducers, icon: 'eco' },
      { title: 'Total Pedidos', value: summary.totalOrders, icon: 'shopping_cart' },
      { title: 'Pedidos Pendientes', value: summary.pendingOrders, icon: 'pending_actions' },
      { title: 'Total Productos', value: summary.totalProducts, icon: 'inventory' }
    ]">
      <mat-icon class="kpi-icon">{{ card.icon }}</mat-icon>
      <h2>{{ card.title }}</h2>
      <p>{{ card.value || 0 }}</p>
    </mat-card>
  </div>


  <!-- Gráficos -->
  <div class="charts-grid">
    <mat-card>
      <h3>Pedidos por Mes</h3>
      <canvas baseChart
        [data]="barChartData"
        [options]="barChartOptions"
        [type]="'bar'">
      </canvas>
    </mat-card>

    <mat-card>
      <h3>Productos Más Vendidos</h3>
      <canvas baseChart
        [data]="topProductsChartData"
        [options]="topProductsChartOptions"
        [type]="'bar'">
      </canvas>
    </mat-card>

    <mat-card>
      <h3>Productores Activos</h3>
      <canvas baseChart
        [data]="lineChartData"
        [options]="lineChartOptions"
        [type]="'line'">
      </canvas>
    </mat-card>
  </div>
</div>
