/* product.component.css */
/* Header más compacto */
.header-compact { padding: .5rem .75rem; border-bottom: 1px solid #eef1f4; }
.breadcrumb-wrap { min-height: 34px; }

/* Controles */
.controls { gap: .5rem; }
.select { width: 250px; }
.controls .mat-mdc-text-field-wrapper { height: 34px; }
.controls .mat-mdc-form-field-infix { padding-top: 0; padding-bottom: 0; }

/* Texto cabecera */
.header-text {
  font-weight: 550;
  font-size: 1rem;
  color: #1e4620;
  text-align: center;
}

/* Espaciado paginador */
mat-paginator { margin-top: .5rem; }
.search { width: 320px; max-width: 40vw; }
