<div class="info-container">
  <h2 class="info-title">Información Básica</h2>

  <div class="info-item">
    <mat-icon class="icon">mail</mat-icon>
    <span><strong>Correo:</strong> {{ person?.email }}</span>
  </div>

  <div class="info-item">
    <mat-icon class="icon">call</mat-icon>
    <span><strong>Número de Teléfono:</strong> {{ person?.phoneNumber }}</span>
  </div>

  <div class="info-item">
    <mat-icon class="icon">badge</mat-icon>
    <span><strong>Documento de Identidad:</strong> {{ person?.identification }}</span>
  </div>

  <div class="info-item">
    <mat-icon class="icon">location_on</mat-icon>
    <span><strong>Dirección:</strong> {{ person?.address }}</span>
  </div>
</div>
