<div class="container my-3 profile-container" *ngIf="profile as p">
  <div class="card shadow-lg p-4 rounded-4">

    <!-- HEADER -->
    <div class="row align-items-center text-center text-md-start">
      <div class="row align-items-center">
        <!-- FOTO DE PERFIL -->
        <div class="col-md-6 mb-3 d-flex flex-column align-items-center">
          <img
            [src]="p.user.imageUrl || 'https://cdn-icons-png.flaticon.com/512/847/847969.png'"
            class="rounded-circle shadow-sm mb-3 img-profile"
            alt="Foto productor"
            width="150" height="150">
          <h4 class="fw-bold">{{ p.user.name }}</h4>
          <p class="text-muted">{{ p.user.email }}</p>
        </div>
        <!-- QR -->
        <div class="col-md-6 d-flex justify-content-md-end justify-content-center">
          <img
            [src]="p.qrUrl || 'https://cdn-icons-png.flaticon.com/512/2089/2089670.png'"
            width="150"
            alt="QR"
            class="shadow-sm rounded">
        </div>
      </div>
    </div>
    <hr>
    <!-- Descripción -->
    <section class="my-4" *ngIf="p.description">
      <h5 class="title">Descripción</h5>
      <p class="text-secondary">{{ p.description }}</p>
    </section>

    <!-- FINCAS con componente -->
    <section class="my-4">
      <h5 class="mb-3 title">Fincas</h5>
      <div class="d-flex flex-nowrap gap-4 overflow-x-auto justify-content-start justify-content-md-center">
        <div *ngFor="let farm of p.farms" class="flex-shrink-0">
          <app-card-farm [farm]="farm"></app-card-farm>
        </div>
      </div>
    </section>


  <!-- PRODUCTOS (usa app-card, NO container-card) -->
<section class="my-4">
  <h5 class="fw-bold mb-3">Últimoso Agregados</h5>
  <div class="row g-3">
    <div class="col-md-3" *ngFor="let product of p.products">
      <app-card
        [product]="product"
        [showActions]="false"
        [showFavorite]="false">
      </app-card>
    </div>
  </div>
</section>
