.sidebar {
  width: 350px;
  max-height: 80vh;
  position: fixed;
  top: 100px;
  left: 30px;
  border: 2px solid #10b981;
  border-radius: 18px;
  background-color: #d1fae5;
  overflow-y: auto;
  z-index: 999;
}

/* Estilo para el botón activo de menú */
.list-group-item.active,
.list-group-item:active {
  background-color: #16a34a !important;
  color: white !important;
  border-color: #16a34a !important;
}

.list-group-item {
  border-radius: 10px;
  margin-bottom: 6px;
}

.list-group-item.active,
.list-group-item:active {
  background-color: #16a34a !important;
  color: white !important;
  border-color: #16a34a !important;
}