<div class="container my-4">

    <h3 class="fw-bold">Pedidos</h3>
    <p class="text-muted">Vea estadísticas detalladas e información relacionada con mis pedidos.</p>

    <div class="row g-3 mb-4">
        <div class="col-md-4">
        <div class="card text-white bg-success h-100 text-center py-3 rounded-4">
            <div>Pedidos Totales</div>
            <h4 class="fw-bold">{{ stats.total }}</h4>
        </div>
        </div>
        <div class="col-md-4">
        <div class="card text-white bg-success h-100 text-center py-3 rounded-4">
            <div>Pedidos Completadas</div>
            <h4 class="fw-bold">{{ stats.completadas }}</h4>
        </div>
        </div>
        <div class="col-md-4">
        <div class="card text-white bg-success h-100 text-center py-3 rounded-4">
            <div>Pedidos Pendientes</div>
            <h4 class="fw-bold">{{ stats.pendientes }}</h4>
        </div>
        </div>
    </div>

    <h5 class="fw-bold">Historial del order</h5>
    <div class="table-responsive bg-light rounded-4 p-2">
        <table class="table align-middle mb-0">
        <thead>
            <tr>
            <th>id de orden</th>
            <th>Name</th>
            <th>Date</th>
            <th>State</th>
            <th>Valor Total</th>
            <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of orders">
            <td>{{ order.id }}</td>
            <td class="text-success ">{{ order.Name }}</td>
            <td class="text-info">{{ order.Date }}</td>
            <td>
                <span class="badge"
                [class.bg-success]="order.State === 'Aceptado'"
                [class.bg-warning]="order.State === 'En espera'">
                {{ order.State }}
                </span>
            </td>
            <td>${{ order.valor }}</td>
            <td><a href="" class="text-success ">View</a></td>
            </tr>
        </tbody>
        </table>
    </div>

</div>
