<div class="wrapper">
  <h2 class="title">Mis pedidos</h2>

  <!-- prueba cantidad de pedidos -->

  <!-- <app-stat-card
    icon="shopping_cart"
    text="Pedidos"
    [count]="numberOrders"
    color="warning"
    [loading]="loading">
  </app-stat-card> -->
  
  <ng-container *ngIf="!loading; else loadingTpl">
    <div *ngIf="items.length; else emptyTpl" class="list">
      <div class="card" *ngFor="let o of items; trackBy: trackById">
        <div class="row1">
          <div class="prod">{{ o.productName }}</div>
          <span class="chip" [ngClass]="chipClass(o.status)">
            {{ o.status | statusTranslate }}
          </span>
        </div>

        <div class="row2">
          <div><strong>Cant.:</strong> {{ o.quantityRequested }}</div>
          <div><strong>Total:</strong> {{ o.total | currency:'COP' }}</div>
          <div class="muted"><strong>Creado:</strong> {{ o.createAt | date:'medium' }}</div>
        </div>

        <div class="actions">
          <app-button text="Ver detalle" color="secondary" (clicked)="view(o.id)"></app-button>

          <!-- Subir comprobante -->
          <input type="file" accept="image/*" #uploader hidden (change)="onPickPaymentFile(o.id, $event)" />
          <app-button
            *ngIf="canUploadPayment(o.status)"
            text="Subir comprobante"
            color="primary"
            (clicked)="triggerFile(uploader)">
          </app-button>

          <!-- Cancelar pedido -->
          <app-button
            *ngIf="canCancel(o.status)"
            text="Cancelar"
            color="danger"
            (clicked)="cancel(o.id)">
          </app-button>

          <!-- Confirmar recepción -->
          <app-button
            *ngIf="canConfirm(o.status)"
            text="Confirmar recepción"
            color="primary"
            (clicked)="confirm(o.id)">
          </app-button>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #loadingTpl><p class="muted">Cargando…</p></ng-template>
  <ng-template #emptyTpl><p class="muted">Aún no tienes pedidos.</p></ng-template>
</div>
