<nav class="navbar navbar-expand-lg custom-navbar">
    <div class="container-fluid">
        <img src="logos/logo.png" alt="" class="logo">
        <a class="navbar-brand color-title" routerLink="/home/inicio">ㅤㅤPortal Agro-comercial del Huila</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex" role="search">
                <input class="form-control me-" type="search" placeholder="Buscar" aria-label="Buscar" />
                <!-- <button class="btn btn-outline-light" type="submit">Buscar</button> -->
            </form>


            <!-- 🔽 Este div empuja el formulario a la derecha -->
            <div class="ms-auto">
                <ul class="navbar-nav mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link custom-text active" routerLink="/home/inicio">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link custom-text active" routerLink="/home/inicio">Productos</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link custom-text" href="#"></a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link custom-text active" routerLink="/home/inicio"><mat-icon>notifications</mat-icon></a>
                        
                    </li>

                    <li class="nav-item">
                        <!-- <a class="nav-link custom-text active" routerLink="/home/inicio"><mat-icon>notifications</mat-icon></a> -->
                        <a class="nav-link custom-text active" routerLink="/home/inicio"><mat-icon>shopping_cart</mat-icon></a>  
                    </li>

                    <li class="nav-item">
                        <!-- <a class="nav-link custom-text active" routerLink="/home/inicio"><mat-icon>notifications</mat-icon></a> -->
                        <a class="nav-link custom-text active" routerLink="/account"><mat-icon>account_circle</mat-icon></a>  
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link custom-text" href="#"></a>
                    </li> -->
                    
                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link custom-text dropdown-toggle" href="#" role="button"
                            data-bs-toggle="dropdown">
                            <mat-icon>account_circle</mat-icon>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li> -->
                    <!-- <li class="nav-item">
                    <a class="nav-link custom-text disabled" aria-disabled="true">Disabled</a>
                </li> -->
                </ul>
            </div>
        </div>
    </div>
</nav>