.custom-navbar {
  background-color: #2e7d32; /* color personalizado */
  position: sticky;
  top: 0;
  z-index: 1020;
  /* color: white; */
}

.custom-text {
  color: #ffffff !important;
}

.custom-text:hover {
  color: #1cc736 !important;
}
.color-title{
  color: #ffffff !important;

}


.logo{
    height: 5vh;
    width: auto;
}

