<div class="card-wrapper">
  <div class="card-container" *ngFor="let card of cards">
    <img [src]="getImage(card.imageUrl)" [alt]="card.productName" class="card-img" />
    <div class="card-body">
      <h3 class="card-title">{{ card.productName }}</h3>
      <p class="card-producer">Productor demo</p>
      <div class="card-location">
        <i class="material-icons">location_on</i>
        <span>Colombia</span>
      </div>
      <button class="card-button" (click)="verMas(card.productName)">Ver más</button>
    </div>
  </div>
</div>
