<div class="form-wrapper-transparent">
  <h2 class="titleForm">{{ title }}</h2>

  <form (submit)="save()" [formGroup]="form" class="form-container">
    <div class="form-field">
      <mat-form-field appearance="outline" class="custom-mat-field">
        <mat-label>Nombre</mat-label>
        <input
          matInput
          [formControl]="form.controls.name"
          placeholder="Ingrese el nombre del permiso"
          required
        />
        <mat-error *ngIf="form.controls.name.hasError('required')">
          El nombre es obligatorio
        </mat-error>
        <mat-error *ngIf="form.controls.name.hasError('minlength')">
          El nombre debe tener al menos 3 caracteres
        </mat-error>
        <mat-error *ngIf="form.controls.name.hasError('maxlength')">
          El nombre no puede exceder los 50 caracteres
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field appearance="outline" class="custom-mat-field">
        <mat-label>Departamento</mat-label>
        <mat-select formControlName="departmentId" required>
          <mat-option *ngFor="let dpto of departments" [value]="dpto.id">
            {{ dpto.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls.departmentId.hasError('required')">
          El departamento es obligatorio
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-actions cont-botones">
      <app-button
        [text]="'Guardar'"
        [icon]="'save'"
        [type]="'submit'"
        [disabled]="form.invalid">
      </app-button>

      <!-- Opción A: volver atrás -->
      <app-button
        [text]="'Cancelar'"
        [icon]="'cancel'"
        [color]="'secondary'"
        [back]="true">
      </app-button>

      <!-- Opción B: ir fijo a la lista de ciudades
      <app-button
        [text]="'Cancelar'"
        [icon]="'cancel'"
        [color]="'secondary'"
        redirectTo="/account/parameters/city">
      </app-button>
      -->
    </div>
  </form>
</div>
