<footer class="footer-container ">
    <div class="container py-5">
        <div class="row gy-4 justify-content-around text-center">

            <!-- Sobre nosotros -->
            <div class="col-12 col-sm-6 col-lg-3 ">
                <h5>Portal Agro Comercial</h5>
                <p>
                Conectamos a los productores del Huila con consumidores que valoran
                la calidad y el origen.
                </p>
            </div>

            <!-- logo -->
            <div class="banner-footer col-12 col-sm-6 col-lg-3">
                <img src="logos/logo.png" alt="" class="banner-h">
            </div>
            
            <!-- Contacto -->
            <div class="col-12 col-sm-6 col-lg-3 row gap-2">
                <h5>Contacto</h5>
                <div class="location-footer">
                    <h6 class="subtitle">Ubicación:</h6>
                    <p class="text">{{location}}</p>
                </div>
                <div class="email-footer">
                    <h6 class="subtitle">Correo:</h6>
                    <p class="text">{{email}}</p>
                </div>
            </div>
            
        </div>

        <hr class="border-light mt-4">
        <p class="text-center">&copy; 2025 Portal Agro Comercial - Todos los derechos reservados</p>
    </div>
</footer>
