<app-button [type]="'button'" [color]="'primary'" [text]="'Volver'" [icon]="'arrow_back'" [back]="true" style="z-index: 10;"></app-button>
<div *ngIf="product" class="container my-5">
    <div class="row justify-content-center">
        <div class="row gap-4 col-lg-10 ">

            <div class="d-flex flex-wrap gap-4 justify-content-around">

                <div class="content-image-product d-flex gap-4">
                    <!-- Miniaturas -->
                    <div *ngIf="product.images.length" class="d-flex flex-column gap-2">
                        <img *ngFor="let img of product.images" [src]="img.imageUrl" (click)="changeMainImage(img.imageUrl)"
                            class="img-thumbnail" style="width: 60px; height: 60px; object-fit: cover; cursor: pointer;">
                    </div>

                    <!-- Imagen principal -->
                    <div class="flex-fill d-flex align-items-center justify-content-center" style="max-width: 400px;">
                        <img [src]="selectedImage || (product.images.length ? product.images[0].imageUrl : '')"
                            class="img-fluid rounded shadow" style="max-height: 350px; object-fit: cover;">
                    </div>
                    
                </div>
                <!-- Información del producto -->
                <div class="border rounded p-3 shadow-sm" style="min-width: 434px;">
                    <h3 class="mb-3">{{ product.name }}</h3>
                    <p class="mb-1"><strong>Descripción:</strong> {{ product.description }}</p>
                    <p class="mb-1"><strong>Productor:</strong> {{ product.personName }}</p>
                    <p class="mb-1"><strong>Finca:</strong> {{ product.farmName }}</p>
                    <p class="mb-1"><strong>Categoría:</strong> {{ product.categoryName }}</p>
                    <p class="mb-1"><strong>Stock:</strong> {{ product.stock }} {{ product.unit }}</p>
                    <p class="mb-2"><strong>Precio:</strong> {{ product.price | currency:'COP':'symbol' }}</p>
                    <!-- <button class="btn btn-success w-100">Añadir al Pedido</button> -->
                    <app-button [text]="'Añadir al Pedido'" [type]="'button'" [icon]="'shopping_cart'"></app-button>
                </div>
            </div>

            <!-- descripción del producto -->
            <div class="product-description">
                <div class="mb-3">
                    <h5>Descripción</h5>
                    <p>{{ product.description }}</p>
                </div>
                
                <div class="mb-3">
                    <h5>Más Información</h5>
                    <p>{{ product.moreInfo }}</p>
                    <p><strong>Ubicación:</strong> {{ product.location }}</p>
                </div>
            </div>
            <!-- contenedor de reseñas de los consumidores -->
            <div class="container-review">
                <div class="mb-3">
                    <h5>Reseñas</h5>
                    <div *ngFor="let review of product.reviews" class="border-bottom pb-2 mb-2">
                        <div class="d-flex align-items-center">
                            <img [src]="review.avatar" class="rounded-circle me-2" width="40" height="40">
                            <div>
                                <strong>{{ review.user }}</strong>
                                <small class="text-muted ms-2">{{ review.date | date }}</small>
                                <div>

                                </div>
                            </div>
                        </div>
                        <p class="mb-1">{{ review.comment }}</p>
                    </div>
                </div>
                <!-- sección donde el consumidor pondrá su reseña -->
                <div class="mb-3">
                    <textarea [(ngModel)]="newReview" class="form-control mb-2" placeholder="Escribe tu reseña"></textarea>
                    <button (click)="submitReview()" class="btn btn-success">Enviar reseña</button>
                </div>
            </div>
        </div>
    </div>
</div>