/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fondo-auth {
  /* PUEDES CAMBIAR LA IMAGEN DE FONDO AQUÍ */
  background-image: url("/backgrounds/fondologin.jpg");
  background-size: cover; /* que cubra toda el área */
  background-position: center; /* centrada */
  background-repeat: no-repeat; /* sin repetir */

  /* Fallback si no tienes imagen */
  background-color: #2e7d32;
   &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: 0;
  }

  > * {
    position: relative;
    z-index: 1;
  }
}